body {
    // background-image: url('../img/red-sea.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: transparent;
    background-size: cover;
}

.container--main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content--main {
    flex: 1;
    @media (min-width: 768px) {
        margin-top: 1.4rem;
    }
    @media (min-width: 992px) {
        margin-top: 2rem;
    }
    @media (min-width: 1200px) {
        margin-top: 2.4rem;
    }
}
