<ul class="nav nav--default nav-pills flex-column flex-sm-row justify-content-center">
	<li class="nav-item">
		<a class="flex-sm-fill nav-link active" href="#">
			Home
		</a>
	</li>
	<li class="nav-item">
		<a class="flex-sm-fill nav-link" href="/projects">Portfolio</a>
	</li>
	<li class="nav-item">
		<a class="flex-sm-fill nav-link disabled" href="/about">About</a>
	</li>
	<li class="nav-item">
		<a class="flex-sm-fill nav-link" href="/contacts">Contacts</a>
	</li>
</ul>