<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{> cdn_link_bootstrap}}
    <title>{{pageTitle}}</title>
  <link href="/css/main.c0031cbef1431e74425f.css" rel="stylesheet"></head>
  <body>
    <div class="container container--main">
        {{> nav}}
        <div class="content content--main">
          {{> bl_H1}}
        </div>
        {{> footer}}
    </div>
    {{> cdn_scripts_bootstrap}}
  <script type="text/javascript" src="/js/bundle.c0031cbef1431e74425fjs"></script></body>
</html>