<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <div class="container container--main">
        {{> nav}}
        <div class="content content--main">
          {{> bl_H1}}
          <p>About. Some paragraph text here...</p>
        </div>
        {{> footer}}
    </div>
    {{> cdn_scripts_bootstrap}}
</body>
</html>
