<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{> cdn_link_bootstrap}}
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <div class="container container--main">
        {{> nav}}
        <div class="content content--main">
          {{> bl_H1}}
        </div>
        {{> footer}}
    </div>
    {{> cdn_scripts_bootstrap}}
  </body>
</html>